@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-surface-50: #abb2bf;
	--color-surface-100: #1a1b26;
	--color-surface-200: #3e4451;
	--color-surface-900: #1a1b26;
	--color-surface-950: rgb(19, 23, 43);

	--color-text-100: var(--color-surface-50);
	--color-text-500: var(--color-surface-50);
	--color-text-900: #1a1b26;

	--color-border-100: #4b5263;
	--color-border-500: #61afef;

	--color-accent-comment: #5c6370;
	--color-accent-keyword: #c678dd;
	--color-accent-string: #98c379;
	--color-accent-number: #d19a66;
}
