@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import './themes/cursor.css';
@import './themes/one-dark-pro.css';
@import './themes/dracula.css';
@import './themes/github-theme.css';
@import './themes/tokyo-night.css';
@import './themes/catppuccin.css';
@import './themes/monokai.css';
@import './themes/nord.css';
@import './themes/night-owl.css';
@import './themes/solarized-dark.css';
@import './themes/cobalt2.css';

@theme {
	--color-surface-50: var(--color-surface-50);
	--color-surface-100: var(--color-surface-100);
	--color-surface-200: var(--color-surface-200);
	--color-surface-800: var(--color-surface-800);
	--color-surface-900: var(--color-surface-900);
	--color-surface-950: var(--color-surface-950);
}
